config =
  host: 'localhost'
  defaultPort: 4000
  memcached:
    enabled: true
    defaultHost: 'localhost'
    defaultPort: 11211
    maxValue: 2097152
    connectRetries: 5
    key: 'HBA'
  logentries:
    enabled: false
    token: 'HBA'
  # By default GET params are being ignored.
  # Add here any params to be included in the
  # request to your server.
  getParamWhitelist: [ 'page' ]

module.exports = config
